/*Estilos generales iniciando por celulares*/
body{
    margin: 0;
}
header{
    background-color: orange;
    height: 100px;
}
nav{
    background-color: blue;
    height: 30px;
}
aside{
    background-color: brown;
    height:100px ;
}
article{
    background-color: goldenrod;
    height: 80px;
}
footer{
    background-color: darkgray;
    height: 80px;
}

     .flex{
         display: flex;
         column-gap: 20px;
     }
     .wrap{
         flex-wrap: wrap;
     }
     nav{
         flex-grow: 4;
     }
     section{
         flex-grow: 8;
     }
     article{
         flex-grow: 2;
     }